@{
  Layout = "_Layout";
}
<h3>@Model.Title</h3>
<h3>Description: @Model.Description</h3>
<h3>Price: $@Model.Price</h3>
<h3>Date: @Model.Date</h3> 
<a href="/vendor/@ViewBag.VendorName"><button class="btn btn-primary">Back to @ViewBag.VendorName's Orders</button></a>
<a href="/"><button class="btn btn-danger">Home</button></a>