@{
  Layout = "_Layout";
}

<h3>Pierre's Vendors</h3>
<a href="/vendor/new"><button class="btn btn-info">Add New Vendor</button></a>
<a href="/vendor"><button class="btn btn-primary">View Vendors</button></a>