@{
  Layout = "_Layout";
}
<h2>Pierre's Vendors</h2>
<a href="/vendor/new"><button class="btn btn-info">Add New Vendor</button></a>
<a href="/vendor"><button class="btn btn-primary">View Vendors</button></a>